.vscode/**
.vscode-test/**
src/**
tests/**
examples/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
!out/**/*.js
package-lock.json
*.vsix
webview-ui/**
# 只包含需要的 node_modules
node_modules/**
!node_modules/@modelcontextprotocol/**
